/* CONTATO */
.faca-contato{
    background-color: #eceaea;
}
.entre-em-contato{
    display: grid;
    place-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 3rem 2rem 3rem;
}

.entre-em-contato__titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.entre-em-contato p{
    text-align: center;
    margin:  2rem;
    line-height: 2rem;
}

.entre-em-contato a{
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #eceaea;
}

.btn{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #464F57;
    transition: .3s all;
    display: grid;
    place-items: center;
    background-color: orange;
}

.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: darkorange;
}
/* BREAK */