main {
    background-color: #fefefe;
    padding: 10px 0;
}

form{
    width: auto;
    margin: 2.5rem 0;
    line-height: 2.5rem;
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.form-contato{
    width: 80%;
    margin: 0 auto;
}

.input__padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 15px;
    width: 50%;
    font-size: 17px;
}

.btn{
    width: 35%;
    background: orange;
    color: white;
    padding: .8rem 0;
    font-size: .8rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 0.3s all;
    box-shadow: 3px 3px 8px #464F57;
}
  
  .btn:hover{
    background-color: darkorange;
    transform: scale(1.1);
    cursor: pointer;
  }