/* HABILIDADES */
.habilidades{
    background-color: #eceaea;
}

.habilidades__content{
    width: 70%;
    margin: 0 auto;
    padding: 3rem 2rem 3rem;
}

.habilidades__titulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2rem;
}

.habilidades__img{
    height: 9.3rem;
    float: right;
    padding-left: 2rem;
}

.habilidades__content p{
    margin:  3rem 3rem 3.5rem;
    line-height: 2rem;
}